/* Custom CSS File */

/* Colors from Logo:
*  Orange: rgba(242, 98, 35, 1)
*  Green: rbga(177, 206, 57, 1)
*  Gray: rgba(168, 169, 173, 1)
*  Blue: rgba(0, 125, 182, 1)
*/

html{
	font-family: 'Open Sans', sans-serif;
}

.blue{
	color: rgba(0, 125, 182, 1);
}
.orange{
	color: rgba(242, 98, 35, 1);
}
.green{
	color: rgba(177, 206, 57, 1);
}
.gray{
	color: rgba(168, 169, 173, 1);
}

/* CUSTOM BUTTONS */
.btn-green{
	background-color: rgba(177, 206, 57, 1);
	color: white;
}
.btn-blue{
	background-color: rgba(0, 125, 182, 1);
	color: white;
}
.btn-white{
	background-color: white;
	color: rgba(0, 125, 182, 1);
	font-weight: bold;
	text-transform: uppercase;
}
.btn-white:active{
	background-color: lightgray;
}
.skip-btn{
	background-color: rgba(0, 115, 168,1);
	color: white;
	display: block;
	text-transform: uppercase;
}

/* NAVIGATION STYLES */
.fa-bars{
	color: black;
}

#custom-pill li {
	width: 25%;
	text-align: center;
}

.nav-pills .nav-link a {
	color: rgba(0, 125, 182, 1);
}

a.nav-link.active:hover {
	color: white;
}

/* DATA PAGE STYLES */
#chart{
	display: block;
}
#trends{
	display: none;
}
#data{
	display: none;
}
#map{
	display: none;
}

.tan-body{
	background-color: rgba(232, 228, 213, 1);
}

.btn-custom{
	background-color: rgba(242, 98, 35, 1);
	color: white;
}
.btn-custom:hover{
	background-color: rgba(212, 76, 17, 1);
	color: white;
}

/* MORE INFO QUESTION MARK STYLES */
.fa-question-circle {
	color: rgba(0, 125, 182, 1);
}
.fa-question-circle:hover {
	color: rgba(0, 115, 168,1);
	cursor: pointer; 
}
.fa-times {
	color: gray;
}
.fa-times:hover {
	cursor: pointer; 
}

#vital {
	background-color: white;
	position: relative;
	top: -700px;
	transition: .5s;
}

/* SCROLLING MENU CSS */
div.scrollmenu {
	overflow: auto;
	white-space: nowrap;
  }
  
  div.scrollmenu li {
	display: inline-block;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  div.scrollmenu li:hover {
	background-color: #777;
  }

  /* SPLASH PAGE STYLES */

  .splash {
	  background-color: rgba(0, 115, 168,1);
	  color: white;
	  padding-top: 40px;
  }
  .splash img {
	height: 50px;
	margin-bottom: 20px;
  }
  .splash h2{
	  text-transform: uppercase;
	  margin:0;
	  padding:0;
  }
  .splash-container{
	position: relative;
	width: 85%;
	height: 90vh;
  }
  .splash-content{
	position: absolute;
	bottom: 0;
	left: 0;
  }
.splash-content ul{
	font-size: 0.9em;
	padding-left: 20px;
}

/* ONBOARDING STYLES */
.onboarding{
	position: relative;
	height: 100vh;
}
.next{
	position: absolute;
	bottom: 0;
	right: 0;
}
.cancel{
	position: absolute;
	bottom: 0;
	left: 0;
}
.onboarding header{
	background-color:  rgba(0, 115, 168,1);
	color: white;
}
.steps{
	text-align: center;
	font-weight: bold;
}
.steps hr{
	border-top: 4px solid white;
	width: 100px;
	position: relative;
	top: 30px;
	z-index: 0;
}
.progress{
	background-color: white;
	color: rgba(0, 115, 168,1);
	display: inline;
	padding: 6px 14px;
	border-radius: 100%;
	font-weight: bold;
	font-size: 1.2em;
	z-index: 3;
}
.active-progress{
	background-color: rgba(0, 115, 168,1);
	color: white;
	display: inline;
	padding: 6px 14px;
	border-radius: 100%;
	border: 3px solid rgb(50,219,173);
	font-size: 1.2em;
	z-index: 3;
}
.topic{
	width: 33%;
	text-align: center;
	font-size: 0.8em;
	font-weight: 500;
}
.topic img{
	height: 70px;
}
.topic img.selected{
	height: 69px;
	border-radius: 100%;
	border: 4px solid rgba(0, 115, 168,1);
}

/* SELECTING NEIGHBORHOODS */
.checkboxes{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 1.1em;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}
/* Hide the browser's default checkbox */
.checkboxes input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 5px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxes input:checked ~ .checkmark {
	background-color: rgb(42, 173, 138);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxes input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxes .checkmark:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  /* HOMEPAGE STYLES */
  .homepage header{
	  background-color: rgba(0, 115, 168,1);
	  color: white;
	  position: relative;
  }
  .bar-menu {
	  position: absolute;
	  right: 10px;
	  top: 60px;
  }
  .homepage-content ul{
	  list-style: none;
	  padding: 0;
	  margin: 0;
	  font-size: 1.2em;
  }
  .homepage-content ul a{
	  display: block;
	  border-bottom: 1px solid lightgray;
	  color: black;
	  text-decoration: none;
	  position: relative;
	  padding-left: 30px;
	  font-weight: 500;
  }
  .homepage-content a i{
	  color: rgba(0, 125, 182, 1);
	  position: absolute;
	  right: 20px;
	  top: 20px;
  }
  .homepage {
	  position: relative;
	  height: 100vh;
  }
  .homepage-content .container p{
	font-size: 0.8em;
	}
.homepage-content .container p{
	font-size: 0.9em;
	}
	.subheading{
		font-weight: 400;
		font-size: 1.1em;
		color: gray;
	}

  /* FOOTER NAV STYLES */
  .footer-nav{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f1f1f1;
	color: gray;
	border-top: 1px solid lightgray;
  }
  .footer-nav a{
	display: inline-block;
	padding: 10px;
	width: 30%;
	text-align: center;
	font-size: 1.5em;
  }